      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <td>image</td>
            <td>name</td>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td></td>
              <td><%= user.name %></td>
              <td><%= link_to "show", user_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>